* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --max-width: 1100px;
    --section-padding: 4rem 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    padding: 0.5rem 1.5rem;
}

header h1 {
    font-size: 1.0rem;
    color: green;
    font-weight: bold;
}

header p {
    font-size: 0.7rem;
    color: red;
}